@import url('https://fonts.googleapis.com/css?family=Mallanna');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url(fixedmenu.css);
@import url(poster.css);



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Mallanna', sans-serif;
}

h1	{
	font-family: 'Lobster', cursive;
	margin-top: 30px;
	color: #fff;
}

header {
  width: 100%;
  height: 80px;
  background: #43A047;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;

}

.container {
	width: 98%;
  margin: auto;
}

.seeker {
  width: 98%;
  max-width: 98%;
  margin: auto;
}

.seeker input {
	width: 100%;
  margin: auto;
  margin-top: 15px;
  padding: 7px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  border: 3px solid #fff;
	justify-content: center;
}

#ingredient {
	color: #fff;
}

.seeker input:hover {
  background: #B71C1C;
}

#addButton {
	position: relative;
	display: inline-block;
	width: 27px;
	height: 27px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	cursor: pointer;
	top: -34px;
	left: 89%;
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
	border: none;
	border-radius: 7px;
}

#addButton:hover {
	background: #B71C1C;
}

.button {
	width: 100%;
	height: auto;
	background: #000;
	border: 1px solid rgba(255, 255, 255, 0.5);
	position: relative;
	display: inline;
	padding: 10px;
}

#button__left {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

#button__right {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.button a {
	color: #fff;
	text-decoration: none;
	text-align: center;
}

.button:hover {
	background: #C62828;
}

#bottom {
  justify-content: center;
	background: #B71C1C;
	width: 100%;
	bottom: 0%;
	position: absolute;
	text-align: center;
}

.copy {
  font-size: 18px;
	color: #fff;
}

.social {
  width: 100%;
  text-align: center;
  font-size: 23px;
}

.social a {
  color: #fff;
  text-decoration: none;
}


#stockList {
}

#stockIng {
	justify-content: center;
	border-bottom: 2px solid rgba(183, 28, 28, 0.4);
	font-size: 22px;
	width: 100%;
	text-align: center;
	display: flex;
	margin: auto;
	padding: 7px;
	cursor: pointer;
}

#ingredList {
	cursor: pointer;
}

#content {
	background: rgba(255, 255, 255, 0.6);
	border-radius: 4px;
	width: 96%;
	margin: auto;
	margin-top: 130px;
	list-style-type: none;
	max-height: 300px;
	overflow-x: hidden;
}

#content ul li{
		list-style-type: none;
}

@media (min-width:400px) {
	#addButton {
		left: 94%;
	}
}

@media (min-width:700px) {
	#addButton {
		left: 96%;
	}
}

@media (min-width:1024px) {
	.seeker {
	  width: 90%;
	  max-width: 60%;
	  margin: auto;
	}

	.seeker input {
	  display: flex;
	  width: 43%;
	  margin: 50px;
	  position: absolute;
	  margin-top: 20px;
	  padding-top: 10px;
	  padding: 7px;
	  background: #43A047;
	  border-radius: 7px;
	  border: 3px solid #fff;
		margin-top: -40px;
		justify-content: center;
	  flex-wrap: wrap;
	}

	.seeker input:hover {
		background: rgba(129, 199, 132, 0.7);
	}

	#ingredient {
		color: #000;
	}

	#addButton {
		position: relative;
		display: inline-block;
		width: 27px;
		height: 27px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		cursor: pointer;
		top: -39px;
		left: 75%;
		background: #43A047;
		color: #fff;
		border: none;
		border-radius: 7px;
	}

	#addButton:hover {
		background: rgba(129, 199, 132, 0.7);
	}

	.copy {
	font-size: 20px;
	}

	.social {
	  width: 100%;
	  text-align: center;
	  font-size: 28px;
	}

	#content {
		background: rgba(255, 255, 255, 0.6);
		border-radius: 4px;
		width: 50%;
		height: 100%;
		margin: auto;
		margin-top: 80px;
		list-style-type: none;
		max-height: 40%;
		overflow-x: hidden;
	}
}
/*
.seeker {
  width: 90%;
  max-width: 60%;
  margin: auto;
*/
/*
.seeker input {
  display: flex;
  width: 43%;
  margin: 50px;
  position: absolute;
  margin-top: 20px;
  padding-top: 10px;
  padding: 7px;
  background: #51f28b;
  border-radius: 7px;
  border: 3px solid #fff;
	margin-top: -40px;
	justify-content: center;
  flex-wrap: wrap;
}
*/
/*
#addButton {
	position: relative;
	display: inline-block;
	width: 27px;
	height: 27px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	cursor: pointer;
	top: -36px;
	left: 75%;
	background: #51f28b;
	color: #fff;
	border: none;
	border-radius: 7px;
	*/
/*
h1	{
	margin-top: 30px;

}
*/
/*
.copy {
font-size: 20px;
}
/*
.social {
  width: 100%;
  text-align: center;
  font-size: 28px;
	padding: 5px;
}
*/
/*
#content {
width: 50%;
margin: auto;
margin-top: 80px;
list-style-type: none;
max-height: 60%;
overflow-x: hidden;
}
*/
/*
#content {
	background: rgba(255, 255, 255, 0.6);
	border-radius: 4px;
	width: 100%;
	margin: auto;
	margin-top: 80px;
	list-style-type: none;
	max-height: 50%;
	overflow-x: hidden;
	*/
/*
	#stockIng {
		justify-content: center;
		border-bottom: 2px solid rgba(0, 0, 0, 0.4);
		font-size: 25px;
		width: 50%;
		text-align: center;
		display: flex;
		margin: auto;
		padding: 7px;
		cursor: pointer;
*/
