<!DOCTYPE>
<html>
<head>
    <title>¿Qué cocino?</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="Style/style.css">
    <script src="Lib/angular.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="MainController">
  	<div id="content">
  		<div id="searcher">

          <input type="text" placeholder="Ingredientes" id="ingredient" list="ingredList" ng-model="newIngredient" ng-change="addIngredient()">

        <datalist id="ingredList" >
            <option ng-repeat ="ingred in idIngreds" value="{{ ingred.ingr }}" ng-selected="selected">
        </datalist>

  		</div>
      <div id="stockList">
           <ul>

              <li ng-repeat="ingredient in ingredients">
              <span id="stockIng" ng-click="delIngredient($index)">{{ ingredient.text }}</span>
              </li>

           </ul>

        </div>
  	</div>
    <script src="Script/controller.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>

    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyD_W9aRDFm51FMRLqtuS9HOuxfPRPdGPQk",
        authDomain: "nexuscooking-9369c.firebaseapp.com",
        databaseURL: "https://nexuscooking-9369c.firebaseio.com",
        storageBucket: "nexuscooking-9369c.appspot.com",
        messagingSenderId: "530520052962"
      };
      firebase.initializeApp(config);
      var database = firebase.database();
    </script>

</body>

</html>