<!DOCTYPE html>
<html>
  <head>
      <title>¿Qué cocino?</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link rel="stylesheet" type="text/css" href="res/css/style1.css">
      <link rel="stylesheet" href="res/css/fontello1.css">
      <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase.js"></script>
      <script src="res/js/db-connection.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
      <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
      <script src="res/js/module-interface1.js"></script>
      <script src="lib/underscore.js"></script>
  </head>
  <body ng-app="module-interface1" ng-controller="controller-interface1 as cInterface1">
    <header>
      <div class="container">
        <h1>Que cocino?</h1>
        <div id="searcher">
          <div class="seeker">
            <input type="text" placeholder="Ingredientes" id="ingredient" list="ingredList" ng-model="cInterface1.newIngredient" ng-change="cInterface1.checkExistance()">
            <button class="icon-plus" id="addButton" ng-click="cInterface1.addIngredient()" ng-disabled="cInterface1.isDisabled"></button>
          </div>
          <datalist id="ingredList">
              <option ng-repeat ="(key, value) in cInterface1.ingredientsList" value="{{value}}" ng-selected="selected"></option>
          </datalist>
        </div>
        <input type="checkbox" id="menu-var" name="" value="">
        <label class="icon-align-justify-1" for="menu-var"></label>
        <nav class="menu">
          <a href="#">Inicio</a>
          <a href="#">Categorías</a>
          <a href="#">Favoritos</a>
          <a href="#">Contacto</a>
        </nav>
      </div>
    </header>
      <div class="image__img">
      </div>
    	<div id="content">
        <div id="stockList">
             <ul>
                <li class="stock__Ing" ng-repeat="(key, value) in cInterface1.ingredientsAdded">
                  <span id="stockIng" ng-click="cInterface1.removeIngredient(key)">{{ value }}</span>
                </li>
             </ul>
          </div>
    	</div>
      </main>
      <footer id="bottom">
        <div id="buttons">
            <div class="button" id="button__left">
              <a href="#">CREAR</a>
            </div>
            <div class="button" id="button__right">
              <a ng-click="cInterface1.filterData()" href="recipes.html">RECETAS (testing)</a>
            </div>
        </div>
      </br>
        <p class="copy">Que cocino? &copy; 2017</p>
        <div class="social">
          <a class="icon-facebook-squared" href="#"></a>
          <a class="icon-twitter-squared" href="#"></a>
          <a class="icon-instagram" href="#"></a>
        </div>
      </footer>
  </body>
</html>
