<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="res/css/newRecipe.css">
        <script src="https://www.gstatic.com/firebasejs/3.7.1/firebase.js"></script>
        <script src="res/js/db-connection.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
        <script src="res/js/module-data.js"></script>
    </head>
    <body>
        <div id="mainContainer" ng-app="module-data" ng-controller="controller-data as cData">
            <div id="addData">
                Name:<input type="text" ng-model="cData.name_"></br></br>
                Time:<input type="number" ng-model="cData.time_" min="1">
                For how many people:<input type="number" ng-model="cData.forHowMany" min="1"></br></br>
                Difficulty:
                <select ng-model="cData.difficulty_">
                    <option value="facil">Facil</option>
                    <option value="intermedio">Intermedio</option>
                    <option value="dificil">Dificil</option>
                </select>
                Regions: 
                <select ng-model="cData.regions_">
                    <option ng-repeat="(key, value) in cData.regionsList" value="{{key}}">{{value.charAt(0).toUpperCase() + value.slice(1)}}</option>
                </select>
                Category:
                <select ng-model="cData.category_">
                    <option ng-repeat="(key, value) in cData.categoriesList" value="{{key}}">{{value.charAt(0).toUpperCase() + value.slice(1)}}</option>
                </select></br></br>
                Ingredients:
                <select ng-model="cData.ingredient_">
                    <option ng-repeat="(key, value) in cData.ingredientsList" value="{{key}}">{{value}}</option>
                </select>
                Amount:
                <input type="number" ng-model="cData.amount" min="1">
                Unit:
                <select ng-model="cData.unit">
                    <option value="cucharadas">Cucharada(s)</option>
                    <option value="gramos">Gramos</option>
                    <option value="mililitros">Mililitros</option>
                    <option value="pizcas">Pizca(s)</option>
                    <option value="tazas">Taza(s)</option>
                    <option value="unidades">Unidad(es)</option>
                </select>
                <input type="button" value="Add ingredient" ng-click="cData.addIngredient()"></br></br>
                Ingredients added:
                <select ng-model="cData.ingredientToRemove">
                    <option ng-repeat="(key, value) in cData.ingredientsListAdded" value="{{key}}">{{value.name}}</option>
                </select>
                <input type="button" value="-" ng-click="cData.removeIngredient()"></br></br>
                Image URL:<input type="file" id="file" name="file"></br></br>
                Steps:</br><textarea rows="8" cols="40" ng-model="cData.steps_"></textarea></br></br>
                <script src="res/js/upload-image.js"></script>
                <input type="button" value="Add new recipe!" ng-click="cData.verifyImage()">
                </br></br></br></br>Crear nuevo ingrediente:
                <input type="text" ng-model="cData.ingredientName_">
                <input type="button" value="Add new ingredient!" ng-click="cData.addNewIngredient();">
                </br></br></br></br>Borrar la receta: 
                <input type="text" ng-model="cData.recipeId">
                <input type="button" value="Delete recipe!" ng-click="cData.deleteRecipe();">
            </div>
        </div>
    </body>
</html>